$accent-color: #dc5756;

$mobile-width: 960px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
label {
  color: #eaeaea;
  text-decoration: none;
  text-transform: uppercase;
}

a,
p {
  font-size: 14px;
}

button,
input[type="submit"] {
  background-color: $accent-color;
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
  text-transform: uppercase;

  @include mobile {
    padding: 8px 10px 8px 10px;
  }
}

button:hover,
input[type="submit"]:hover {
  background-color: darken($accent-color, 10%);
}

.bg-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99999;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .bg-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(34, 40, 49, 0.6);
    z-index: 999999;
  }
}

header {
  background: #222831;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      @include mobile {
        flex-wrap: wrap;
      }

      li {
        margin-left: 30px;

        @include mobile {
          margin-left: 10px;
        }

        a {
          transition: all 0.5s ease;
          font-size: 12px;
          letter-spacing: 2px;

          @include mobile {
            font-size: 10px;
          }
        }

        a:hover {
          color: $accent-color;
        }
      }

      li:first-child {
        margin-left: 0;
      }

      .logo {
        img {
          width: 50px;
          height: auto;

          @include mobile {
            width: 30px;
          }
        }
      }
    }
  }
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1140px;
  height: 600px;
  border-radius: 5px;
  overflow: hidden;

  @include mobile {
    flex-direction: column;
    width: 85%;
    height: auto;
  }
}

.section-description {
  width: 50%;
  height: 95%;
  border-radius: 30px 0 0 30px;
  // background-color: lighten(#222831, 3%);
  background-color: rgba(34, 40, 49, 0.6);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 60px 100px 60px;

  @include mobile {
    flex-direction: column;
    width: 90%;
    padding: 20px 20px 20px 20px;
    border-radius: 0 0 0 0;
    box-shadow: none;
  }

  h1 {
    font-weight: 200;
    font-size: 32px;
    line-height: 32px;

    @include mobile {
      font-size: 22px;
      line-height: 24px;
    }

    span {
      color: $accent-color;
    }
  }

  p {
    margin-top: 20px;
    line-height: 20px;
    font-weight: 200;
    font-size: 16px;
    text-transform: capitalize;

    @include mobile {
      font-size: 12px;
      line-height: 14px;
      margin-top: 10px;
      margin-top: 5px;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 20px;

    @include mobile {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    li {
      display: flex;
      align-items: center;
      line-height: 30px;
      text-transform: capitalize;

      @include mobile {
        line-height: 14px;
        font-size: 12px;
      }

      i {
        color: $accent-color;
      }
      span {
        margin-left: 10px;
        font-weight: 100;
      }
    }
  }
}

.form-section {
  width: 50%;
  height: 100%;
  background-color: #222831;
  padding: 50px 60px 50px 60px;
  box-shadow: -28px 6px 52px -27px rgba(0, 0, 0, 0.75);
  border-radius: 15px 15px 15px 15px;

  @include mobile {
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 2px -27px 71px -33px rgba(0, 0, 0, 0.75);
  }
}

.form-title {
  h1 {
    font-weight: 200;
    color: $accent-color;
    font-size: 28px;
    margin-left: -2px;

    @include mobile {
      font-size: 24px;
    }
  }

  p {
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;

    @include mobile {
      font-size: 12px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form-input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  @include mobile {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  label {
    color: rgb(70, 80, 102);
    font-size: 14px;
    position: absolute;
    left: 10px;
    pointer-events: none;
    transition: all 0.2s ease;

    @include mobile {
      font-size: 12px;
    }
  }

  input {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgba(41, 47, 58, 0.7);
    color: white;
    transition: all 0.5s ease;

    @include mobile {
      height: 30px;
      border-radius: 0;
    }
  }
}

.focused {
  color: $accent-color !important;
  transform: translateY(-140%);

  font-size: 10px !important;
  font-weight: bold;

  @include mobile {
    transform: translateY(-120%);
  }
}

input[type="submit"] {
  width: 100%;
  margin-top: 15px;
}

.social-media-login {
  width: 100%;

  p {
    color: rgb(70, 80, 102);
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    li {
      height: 45px;
      width: 130px;
      border-radius: 5px;
      background-color: rgba(41, 47, 58, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 90px;
        border-radius: 0;
      }

      a {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 24px;
      }
    }
  }
}

.login-note {
  width: 100%;
  p {
    padding-top: 15px;
    text-transform: capitalize;
    color: rgb(70, 80, 102);

    a {
      text-transform: lowercase;
      color: $accent-color;
    }
  }
}
